#content .actionButtonList {
    float: right;
    display: inline-block;
    margin-bottom: 5px;
}
#content h5 {
    float: left;
    display: inline-block;
}
#content table {
    float: left;
    margin: 0 auto;
    height: 200px;
}
